In [3]:
import numpy 
import pandas
import matplotlib

In [4]:
dataset = pandas.read_csv('owid-covid-data_top10.csv', sep=',', encoding='utf-8')

In [5]:
dataset.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,BRA,South America,Brazil,2020-02-26,1.0,1.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN
1,BRA,South America,Brazil,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN
2,BRA,South America,Brazil,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN
3,BRA,South America,Brazil,2020-02-29,2.0,1.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.2,75.88,0.765,7049.6,3.31,5.25,32.943066
4,BRA,South America,Brazil,2020-03-01,2.0,0.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN

In [6]:
dataset.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
7658,USA,North America,United States,2022-03-01,79091361.0,47031.0,62331.429,952423.0,1691.0,1830.000,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7659,USA,North America,United States,2022-03-02,79143716.0,52355.0,57824.857,954518.0,2095.0,1725.000,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7660,USA,North America,United States,2022-03-03,79196008.0,52292.0,55673.857,956261.0,1743.0,1553.714,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7661,USA,North America,United States,2022-03-04,79250509.0,54501.0,52764.286,958144.0,1883.0,1497.857,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7662,USA,North America,United States,2022-03-05,79265726.0,15217.0,47989.857,958437.0,293.0,1425.714,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN

In [8]:
dataset.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,7.663000e+03,7.641000e+03,7484.000000,7345.000000,7327.000000,7173.000000,7663.000000,7641.000000,7484.000000,7345.000000,...,7663.000000,7663.000000,7.660000e+02,7663.000000,7663.000000,7663.000000,6.920000e+02,692.000000,692.000000,692.000000
mean,7.413453e+06,3.248569e+04,32590.349244,143683.851464,420.451071,423.776663,40129.002883,218.335670,215.706487,849.127797,...,17.022224,31.774449,5.955000e+01,5.882298,79.370521,0.867278,1.277382e+05,7.168382,10.014639,868.361431
std,1.200763e+07,6.990790e+04,66130.926542,193260.956591,656.855964,611.463015,53182.233431,514.898513,475.288902,856.364728,...,8.869313,11.113599,1.422014e-14,4.150498,4.790136,0.090695,2.181352e+05,7.737350,16.272627,1006.519309
min,1.000000e+00,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.001000,0.000000,0.000000,0.001000,...,1.900000,17.900000,5.955000e+01,0.530000,69.660000,0.645000,-3.772610e+04,-9.020000,-19.200000,-299.292834
25%,2.297820e+05,1.333000e+03,1440.107250,10145.000000,23.000000,27.857000,2831.535000,12.022000,12.578000,98.069000,...,10.100000,24.600000,5.955000e+01,2.540000,75.880000,0.824000,-1.335500e+02,-0.052500,-0.252500,-2.603051
50%,2.702681e+06,9.921000e+03,11149.928500,83976.000000,161.000000,177.714000,17491.567000,62.362000,67.154500,554.520000,...,19.800000,33.100000,5.955000e+01,5.980000,81.330000,0.916000,5.249990e+04,6.900000,5.745000,707.315534
75%,7.906961e+06,3.357100e+04,35266.357250,149512.000000,535.500000,567.143000,64999.770000,209.744000,216.940500,1631.352000,...,23.400000,35.600000,5.955000e+01,8.050000,83.030000,0.926000,1.191370e+05,13.530000,14.987500,1517.147097
max,7.926573e+07,1.368167e+06,802518.429000,958437.000000,4529.000000,4190.000000,342095.547000,7453.161000,5436.723000,3047.832000,...,30.100000,58.300000,5.955000e+01,13.050000,84.630000,0.947000,1.080748e+06,30.850000,107.250000,7406.847532

In [7]:
dataset[(dataset['location'] == 'Brazil') & (dataset['date'] == '2020-03-01')]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
4,BRA,South America,Brazil,2020-03-01,2.0,0.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN

In [9]:
dataset['new_cases_porcentage'] = dataset['new_cases'] / dataset['total_cases'] * 100

In [10]:
dataset.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,new_cases_porcentage
0,BRA,South America,Brazil,2020-02-26,1.0,1.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN,100.0
1,BRA,South America,Brazil,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN,0.0
2,BRA,South America,Brazil,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN,0.0
3,BRA,South America,Brazil,2020-02-29,2.0,1.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,7049.6,3.31,5.25,32.943066,50.0
4,BRA,South America,Brazil,2020-03-01,2.0,0.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN,0.0

In [11]:
dataset['new_cases_porcentage']

0       100.000000
1         0.000000
2         0.000000
3        50.000000
4         0.000000
           ...
7658      0.059464
7659      0.066152
7660      0.066029
7661      0.068771
7662      0.019197
Name: new_cases_porcentage, Length: 7663, dtype: float64

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7663 entries, 0 to 7662
Data columns (total 68 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    7663 non-null   object
 1   continent                                   7663 non-null   object
 2   location                                    7663 non-null   object
 3   date                                        7663 non-null   object
 4   total_cases                                 7663 non-null   float64
 5   new_cases                                   7641 non-null   float64
 6   new_cases_smoothed                          7484 non-null   float64
 7   total_deaths                                7345 non-null   float64
 8   new_deaths                                  7327 non-null   float64
 9   new_deaths_smoothed                         7173 non-null   float64
 10  total_cases_per_million                     7663 non-null   float64
 11  new_cases_per_million                       7641 non-null   float64
 12  new_cases_smoothed_per_million              7484 non-null   float64
 13  total_deaths_per_million                    7345 non-null   float64
 14  new_deaths_per_million                      7327 non-null   float64
 15  new_deaths_smoothed_per_million             7173 non-null   float64
 16  reproduction_rate                           7292 non-null   float64
 17  icu_patients                                4278 non-null   float64
 18  icu_patients_per_million                    4278 non-null   float64
 19  hosp_patients                               2861 non-null   float64
 20  hosp_patients_per_million                   2861 non-null   float64
 21  weekly_icu_admissions                       1377 non-null   float64
 22  weekly_icu_admissions_per_million           1377 non-null   float64
 23  weekly_hosp_admissions                      3603 non-null   float64
 24  weekly_hosp_admissions_per_million          3603 non-null   float64
 25  new_tests                                   5755 non-null   float64
 26  total_tests                                 6056 non-null   float64
 27  total_tests_per_thousand                    6056 non-null   float64
 28  new_tests_per_thousand                      5755 non-null   float64
 29  new_tests_smoothed                          7116 non-null   float64
 30  new_tests_smoothed_per_thousand             7116 non-null   float64
 31  positive_rate                               5812 non-null   float64
 32  tests_per_case                              5812 non-null   float64
 33  tests_units                                 7186 non-null   object
 34  total_vaccinations                          3950 non-null   float64
 35  people_vaccinated                           3938 non-null   float64
 36  people_fully_vaccinated                     3860 non-null   float64
 37  total_boosters                              2070 non-null   float64
 38  new_vaccinations                            3858 non-null   float64
 39  new_vaccinations_smoothed                   4181 non-null   float64
 40  total_vaccinations_per_hundred              3950 non-null   float64
 41  people_vaccinated_per_hundred               3938 non-null   float64
 42  people_fully_vaccinated_per_hundred         3860 non-null   float64
 43  total_boosters_per_hundred                  2070 non-null   float64
 44  new_vaccinations_smoothed_per_million       4181 non-null   float64
 45  new_people_vaccinated_smoothed              4181 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  4181 non-null   float64
 47  stringency_index                            7580 non-null   float64
 48  population                                  7663 non-null   float64
 49  population_density                          7663 non-null   float64
 50  median_age                                  7663 non-null   float64
 51  aged_65_older                               7663 non-null   float64
 52  aged_70_older                               7663 non-null   float64
 53  gdp_per_capita                              7663 non-null   float64
 54  extreme_poverty                             5348 non-null   float64
 55  cardiovasc_death_rate                       7663 non-null   float64
 56  diabetes_prevalence                         7663 non-null   float64
 57  female_smokers                              7663 non-null   float64
 58  male_smokers                                7663 non-null   float64
 59  handwashing_facilities                      766 non-null    float64
 60  hospital_beds_per_thousand                  7663 non-null   float64
 61  life_expectancy                             7663 non-null   float64
 62  human_development_index                     7663 non-null   float64
 63  excess_mortality_cumulative_absolute        692 non-null    float64
 64  excess_mortality_cumulative                 692 non-null    float64
 65  excess_mortality                            692 non-null    float64
 66  excess_mortality_cumulative_per_million     692 non-null    float64
 67  new_cases_porcentage                        7641 non-null   float64
dtypes: float64(63), object(5)
memory usage: 4.0+ MB

In [13]:
dataset['log_total_cases'] = numpy.log(dataset['total_cases'])

In [15]:
dataset.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,new_cases_porcentage,log_total_cases
0,BRA,South America,Brazil,2020-02-26,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN,100.0,0.000000
1,BRA,South America,Brazil,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN,0.0,0.000000
2,BRA,South America,Brazil,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN,0.0,0.000000
3,BRA,South America,Brazil,2020-02-29,2.0,1.0,NaN,NaN,NaN,NaN,...,NaN,2.2,75.88,0.765,7049.6,3.31,5.25,32.943066,50.0,0.693147
4,BRA,South America,Brazil,2020-03-01,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,2.2,75.88,0.765,NaN,NaN,NaN,NaN,0.0,0.693147

In [ ]:
dataset.to_csv('covidgripizinhabraba', sep=',', encoding='utf-8')